<div class="gallery">
    {% for photo in photos %}
    {% set split = photo.split('app/')[1] %}

    <div class="photo-wrapper">
        <img src="{{ photo.split('app')[1] }}" alt="">
        {% if current_user == user %}
        <div class="photo-btn dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Use as profile image</a>
                <a class="dropdown-item" href="#">Use as background image</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Delete this image</a>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>