{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block breadcrumb %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.get_full_name() }}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}

{% include "modal/modal.html" %}
<div class="container">
    <section class="user">
        <div class="row">
            {% if user.background_image %}
            <img src="{{ url_for('upload.static', filename=user.background_image) }}" alt="Background-image" class="img-responsive profile-background">
            {% else %}
            <div class="profile-background-default"></div>
            {% endif %}
            <div class="user-profile">
                {% if user.avatar %}
                <img src="{{ url_for('upload.static', filename=user.avatar) }}" alt="" class="profile-image">
                <!--img src="/static/user_uploads/{{ user.avatar }}" alt="" class="profile-image"-->
                {% else %}
                <i class="fas fa-user user-icon profile"></i>
                {% endif %}
                <div class="user-text-wrapper">
                    <h1>{{ user.get_full_name() }}</h1>
                    <h4>@{{ user.display_name }}</h4>
                </div>

                {% if not current_user == user and current_user.is_authenticated %}
                    {% if not current_user.is_following(user) %}
                    <form id="follow-form" action="{{ url_for('user.follow', username=user.username) }}" method="post" data-form="follow">
                        {{ form.hidden_tag() }}
                    
                        {{ form.submit(value='Follow', class='btn btn-info') }}
                    </form>
                    {% else %}
                    <form id="unfollow-form" action="{{ url_for('user.unfollow', username=user.username) }}" method="post" data-form="unfollow">
                        {{ form.hidden_tag() }}
                    
                        {{ form.submit(value='Unfollow', class='btn btn-info') }}
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-7 col-md-8 col-sm-1">
                <div class="profile-nav">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-about-tab" data-toggle="pill" href="#pills-about"
                                role="tab" aria-controls="pills-about" aria-selected="true">About Me</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-followers-tab" data-toggle="pill" href="#pills-followers"
                                role="tab" aria-controls="pills-followers" aria-selected="false">{{ user.followers.count() }} Followers</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-following-tab" data-toggle="pill" href="#pills-following"
                                role="tab" aria-controls="pills-following" aria-selected="false">{{ user.followed.count() }} Following</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-photos-tab" data-toggle="pill" href="#pills-photos" role="tab"
                                aria-controls="pills-photos" aria-selected="false">Photos</a>
                        </li>
                        {% if current_user == user %}
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-light" href="{{ url_for('user.messages') }}">Messages 
                                {% set new_messages = current_user.new_messages() %}
                                {% if new_messages %}
                                <span id="msg-count" class="badge badge-primary">{{ new_messages }}</span>
                                {% endif %}
                            </a>
                        </li>
                        {% endif %}
                        {% if not current_user == user %}
                        <li class="nav-item" role="presentation">
                            <button class="btn btn-light" data-toggle="modal" data-target="#formModal" data-formcontent="{{ url_for('user.send_message', username=user.username) }}">Message</button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>

        <div class="row">
            <!-- start -->
            <div class="col-lg-9">


                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-about" role="tabpanel"
                        aria-labelledby="pills-about-tab">
                        <div class="pane-content">
                            <h3>About {{ user.first_name }}</h3>
                            <p><strong>Joined:</strong> {{ moment(user.created_at).format('LL') }}</p>
                            <p><strong>Last Seen:</strong> {{ moment(user.last_seen).format('LLL') }}</p>
                            {% if user.about_me %}
                                <p>{{ user.about_me }}</p>
                            {% else %}
                                <p>This user has not added a biography</p>
                            {% endif %}
                            {% if user == current_user %}<button class="btn btn-secondary" data-toggle="modal" data-target="#formModal" data-formcontent="{{ url_for('user.edit_bio') }}">Edit</button>{% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-followers" role="tabpanel" aria-labelledby="pills-followers-tab">
                        <div class="pane-content">
                            <h3>{{ user.first_name }}'s followers</h3>
                            <div id="followers-content" class="row"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-following" role="tabpanel"
                        aria-labelledby="pills-following-tab">
                        <div class="pane-content">
                            <h3>Who {{ user.first_name }} follows</h3>
                            <div id="following-content" class="row"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab">
                        <div class="pane-content">
                            <h3>Photos</h3>
                            <p><a href="{{ url_for('user.photos', username=user.username) }}" class="btn btn-secondary">View all photos</a></p>
                            <div class="row">
                                <div id="photos-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h2>Recent Activity</h2>
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">This user liked another user's post</h5>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Uploaded new post</h5>
                        </div>
                    </li>
                    <li class="media">
                        <img src="..." class="mr-3" alt="...">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">List-based media object</h5>
                        </div>
                    </li>
                </ul>

                <a href="#" class="btn btn-primary">See all recent activity</a>
            </div>
            <!-- end -->
        </div>
    </section>

    <h2>{{ user.first_name }}'s posts</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-12">
            {% include "_post.html" %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script>
window.onload = function() {
    $('#pills-followers-tab').click(function(event) {
        ajaxDumpIntoElement('{{ url_for("get_followers", username=user.username) }}', $('#followers-content'));
    });

    $('#pills-following-tab').click(function(event) {
        ajaxDumpIntoElement('{{ url_for("get_following", username=user.username) }}', $('#following-content'));
    });

    $('#pills-photos-tab').click(function(event) {
        loadGallery('{{ url_for("get_photos", username=user.username) }}', $('#photos-content'));
    });
}
</script>

{% if current_user.is_authenticated %}
<script>
    let likeButtons = document.querySelectorAll('.like-post');

    for (let i = 0; i < likeButtons.length; i++) {
        likeButtons[i].addEventListener('click', function() {
            action = likeButtons[i].dataset.action;
            target = likeButtons[i].dataset.target;

            updatePostLikes(likeButtons[i], action, target);
        });
    }
</script>
<script src="{{ url_for('static', filename='js/posts.js') }}"></script>
{% endif %}

{% if current_user == user %}
<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>
{% endif %}
{% endblock %}