.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.photo-wrapper {
    position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
}

.photo-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}