{% extends "base.html" %}

{% block content %}
<h1>Index</h1>

{% if form %}
<h2>Upload new post</h2>
<form action="{{ url_for('upload_post') }}" method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for errors in form.title.errors %}
        <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body(size=32) }}<br>
        {% for errors in form.body.errors %}
        <span style="color:red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endif %}

<ul>
{% for post in posts %}
<li><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.display_name }}</a> says: {{ post.body }}</li>
{% endfor %}
</ul>
{% endblock %}