{% extends "base.html" %}

{% block breadcrumb %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <section class="user">
        <div class="row">
            <img src="{{ url_for('static', filename='images/1.jpg') }}" alt=""
                class="img-responsive profile-background">
            <div class="col-lg-6">
                <div class="user-profile">
                    <img src="{{ url_for('static', filename='images/2.jpg') }}" alt="" class="profile-image">
                    <div class="user-text-wrapper">
                        <h1>@{{ user.display_name }}</h1>
                        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                    </div>

                    {% if user == current_user %}
                    <form action="{{ url_for('upload.upload_file') }}" method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                    
                        <div class="form-group">
                            {{ form.file.label }}<br>
                            {{ form.file() }}<br>
                            {% for error in form.file.errors %}
                            <span class="color:red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <p>{{ form.submit(class='btn btn-primary') }}</p>
                    </form>
                    {% endif %}

                    {% if not current_user == user %}
                        {% if not current_user.is_following(user) %}
                        <form action="{{ url_for('follow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                        
                            {{ form.submit(value='Follow', class='btn btn-info') }}
                        </form>
                        {% else %}
                        <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                        
                            {{ form.submit(value='Unfollow', class='btn btn-info') }}
                        </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-1">
                <div class="profile-nav">
                    <ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true">About Me</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                role="tab" aria-controls="pills-profile" aria-selected="false">Followers ({{ user.followers.count() }})</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                                role="tab" aria-controls="pills-contact" aria-selected="false">Following ({{ user.followed.count() }})</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="btn btn-light" href="#">Message</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="pane-content">
                        <h3>About {{ user.first_name }}</h3>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque dolorem, quasi cum velit explicabo magnam officia tempore enim fugit ex fugiat ut tempora dignissimos laboriosam neque architecto doloribus. Rerum, veritatis?
                        Laudantium ad suscipit necessitatibus quis minima nulla. Inventore eos doloribus tempore veniam, odit sapiente aliquam ducimus explicabo recusandae non amet voluptate labore perferendis fugiat dignissimos. Molestiae harum blanditiis quod quidem?
                        Dolorem vitae expedita quod iste quibusdam nulla neque debitis sequi, perferendis doloribus autem praesentium, consequatur dolorum! Voluptatibus ratione obcaecati, sapiente quasi labore veritatis, illum minus voluptatum sed eveniet harum doloremque!
                        Optio earum eos nihil soluta aut cumque fugit voluptate minima aperiam. Accusantium praesentium quisquam aut suscipit aliquid et reprehenderit necessitatibus eaque repudiandae numquam minus repellat, natus voluptatem accusamus earum quas.
                        Nostrum labore iste delectus dolorum eius? Dolorem expedita hic incidunt sed earum rerum aliquid suscipit maxime, assumenda, deserunt fuga sit repellat mollitia, natus totam molestiae odit fugiat esse recusandae explicabo?
                        Dolore consequuntur quidem, qui, nisi culpa enim labore iusto, doloribus recusandae nam perspiciatis asperiores dolorum unde harum! Eaque necessitatibus quos pariatur ad dicta, fuga quasi! Dolore eos beatae cumque illo.
                        Est fugiat, hic vitae id deserunt consequatur quisquam aliquid! Est pariatur maxime, cupiditate consequuntur earum dicta eveniet voluptatem quos, corrupti, vel itaque quaerat nisi quisquam? Enim, tenetur. Similique, sit voluptate!
                        Exercitationem velit quam suscipit nostrum error sequi minus quos, iste libero iure adipisci similique commodi quia, fugit tempore asperiores molestias quibusdam et necessitatibus sunt rem. Nobis dolore dignissimos fuga laboriosam.
                        Eius iste nesciunt suscipit, sequi distinctio autem iure unde odio laudantium molestias adipisci, necessitatibus odit minima corrupti id, ex sunt? Eos error architecto cum cumque dolore ipsum accusamus quod esse!
                        Assumenda cupiditate magni earum. Animi, quas ut. Saepe itaque fugit tempore doloremque suscipit maxime velit debitis nobis et perspiciatis distinctio explicabo, illo necessitatibus. Vel incidunt praesentium provident ex in harum?
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="pane-content">
                        <h3>{{ user.first_name }}'s following</h3>
                        <div class="row">
                            {% for follower in user.followers %}
                                <div class="user-image-link small">
                                    <a href="{{ url_for('user', username=follower.username) }}">
                                        <img class="media-image medium" src="{{ url_for('static', filename='images/3.jpg') }}" alt="">
                                        <h5>@{{ follower.display_name }}</h5>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="pane-content">
                        <h3>Who {{ user.first_name }} follows</h3>
                        <div class="row">
                            {% for follower in user.followed %}
                                <div class="user-image-link">
                                    <a href="{{ url_for('user', username=follower.username) }}">
                                        <img class="media-image medium" src="{{ url_for('static', filename='images/3.jpg') }}" alt="">
                                        <h5>@{{ follower.display_name }}</h5>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    {% for post in posts %}
    {% include "_post.html" %}
    {% endfor %}
</div>
{% endblock %}