{% extends "base.html" %}

{% block content %}
<h1>{{ user.display_name }}</h1>

{% if user == current_user %}
<form action="{{ url_for('upload.upload_file') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ form.file.label }}<br>
    {{ form.file }}<br>
    {% for error in form.file.errors %}
    <span class="color:red;">{{ error }}</span>
    {% endfor %}
    <p>{{ form.submit() }}</p>
</form>
{% endif %}

{% if not current_user.is_following(user) %}
<form action="{{ url_for('follow', username=user.username) }}" method="post">
    {{ form.hidden_tag() }}

    {{ form.submit(value='Follow') }}
</form>
{% else %}
<form action="{{ url_for('unfollow', username=user.username) }}" method="post">
    {{ form.hidden_tag() }}

    {{ form.submit(value='Unfollow') }}
</form>
{% endif %}

{% for post in posts %}
    {% include "_post.html" %}
{% endfor %}
{% endblock %}